@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
	font-family: "raleway";
	color: #44545E;
	font-weight: 600;
	text-align: center;
	margin: 0 auto;
}

/* how does div .wrapper work? Remove max-width and there is still default space and
padding doesn't work. Using fixed pixels and it doesn't center and isn't responsive,
but with the percentage the spacing on the right is weird as the browser size changes.
Ask about grey text after colons - when enclosing with quotes, turns green.
But then it breaks the code. */

.wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 40px;
	padding-right: 100px;
	padding-left: 100px;
}

header {
	width: 100%;
	background-image: url("../images/blog_header_bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffff;
	margin-bottom: 50px;
}

/* Padding above navigation links */
nav {
	margin-top: 20px;
}

/* Navigation link styling */
nav a {
	text-transform: uppercase;
	color: #7B98AA;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	padding-left: 60px;
	padding-right: 60px;
	letter-spacing: 1px;
}

/* Navivation link hover */
nav a:hover {
	color: #44545E;
}

/* All other link hovers */
a:hover {
	color: lightblue;
}

/* Spacing above and below page title */
h1 {
	padding-top: 130px;
	padding-bottom: 130px;
}

/* Page title */
h1 a {
	text-transform: uppercase;
	font-size: 37px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 15px;
}

/* Post date */
h2 {
	text-transform: uppercase;
	font-size: 23px;
	text-align: left;
	margin-bottom: 40px;
}

/* Post title */
h3 {
	font-size: 18px;
	text-align: left;
}

p {
	text-align: left;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
}

/* Fixed for responsive images */
img {
	max-width: 100%;
}

/* About Us section --- start */
aside {
text-align: left;
margin-top: 25px;
}

aside img {
	margin-top: 40px;
}

aside h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	margin-top: 40px;
}

aside p {
	font-family: "lato";
	font-weight: 400;
	font-size: 15px;
}

aside ul {
		padding-left: 20px;
}

aside li {
	line-height: 1.7;
}

aside a {
	font-weight: 400;
	font-size: 15px;
	text-decoration: none;
	color:  #8fa0aa;
}
/* About Us section --- end */


/* Footer background and font styling */
footer {
	background-color: #CDF3F6;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	padding: 40px 0 2px 0;
	margin-top: 40px;
}

/* Email form & submit button */
.email-form {
	margin-top: 40px;
}

input[type="text"] {
	border: none;
	padding: 10px 90px;
	color: #44545E;
	font-size: 15px;
	text-transform:uppercase;
	text-align: center;
	letter-spacing: 1px;
}

input[type="submit"] {
	border: solid 2px;
	border-color: #44545E;
	color: #44545E;
	background-color: transparent;
	padding: 8px 30px;
	margin-left: 40px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/* Social icon links and Copyright */
.social-icons a {
	padding-left: 15px;
	padding-right: 15px;
}

footer p {
	font-family: "lato";
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	text-transform: capitalize;
}

footer a {
	text-decoration: none;
	color: #44545E;
}

/* Footer line break */
hr {
	height: 1px;
	background-color: #44545E;
	margin-top: 60px;
	margin-bottom: 20px;
}
